*.dll
*.dll.manifest
*.exe
*.exe.manifest
*.exp
*.ilk
*.lib
*.obj
*.pdb
*.un~
*~
.vscode
/.project
autom4te.cache
build
cmake-build
config.h.in
config.log
config.status
configure
GNUmakefile
PTHREADS-BUILT
tests/*.bench
tests/*.log
tests/*.pass
tests/benchlib.o
tests/GNUmakefile
tests/pthread.h
tests/sched.h
tests/semaphore.h
tests/SIZES.*
version.res
