*.un~
*~
*.obj
*.dll.manifest
*.dll
*.exe.manifest
*.exe
*.lib
*.pdb
*.ilk
*.exp
config.log
config.h.in
config.status
configure
version.res
tests/*.pass
tests/*.bench
tests/pthread.h
tests/sched.h
tests/semaphore.h
tests/benchlib.o
tests/SIZES.*
tests/*.log
/.project
build
cmake-build
autom4te.cache
PTHREADS-BUILT
.vscode
GNUmakefile
tests/GNUmakefile
